
        body{
            padding: 0;
            display: flex;
            justify-content: center;
            margin-top: 250px;
            background-image: url(image/dark\ eye.jpeg);    
            background-size: cover;
        }
        .container{
           
            padding: 30px;
            border-radius: 70px;
            box-shadow: 4px 4px rgba(3, 25, 219, 0.767); 
            width: 500px;
            text-align: center;
            transition: transform 0.2s;
            justify-content: center;
            background-color:  black;
            color: white;
            
        }
        .sign{
            padding-bottom: 20px;
        }
        input{
            width: 50%;
            
        }
        
        .button:hover{
            background-color: black;
            color: white;
            cursor: pointer;
        }
        button{
            font-weight: bolder;
        }
   